





/*index_head logo style*/



.logo {



	background-image: url("images/needs/glyph-instagram.jpg");



	background-repeat: repeat-x;



}







.topnav {



	overflow: hidden;



}







.topnav .icon {



  display: none;



}



/* sign-up button */



.btn-primary {



	  font-weight: 600;



    background: #1b9be9;



    border: 1px solid #1b9be9;



    color: #fff;



    border-radius: 3px;



    cursor: pointer;



    outline: none;



}







.btn_custom{



	  padding: 5px 18px;



    border-radius: 4px;



    font-size: 14px;



    margin-top: 15px;



}











@media screen and (max-width: 980px) {



  .topnav a {display: none;}



  .topnav a.icon {



    float: right;



    display: block;



  }











}







@media screen and (max-width: 980px) {



  .topnav.responsive {position: relative;}



  .topnav.responsive .icon {



    position: absolute;



    right: 0;



    top: 0;



  }



  .topnav.responsive a {



    float: none;



    display: block;



    text-align: left;



  }



}















.index_header > .right {



	right: 0 !important;



}







.index_header > .left {



	left: 0 !important;



}







.margin-5 {



  margin-right: 5%;



  margin-left: 5%;



  margin:auto;



}







.padding-3-h {



  padding-right: 10%;



  padding-left: 10%;



}







.index-header > nav > div> .navbar-collapse {\



  background: none !important;



  border: 0 !important;



}







.index-header > nav {



  background: white;



  border: white;







}







.index-header >.navbar-inverse .navbar-nav> li >a  {







    border: 1px solid #eee;



    outline: none;



    padding: 4px 16px;



    border-radius: 3px;



    font-size: 14px;



    margin-right: 5px;



    color: #3d464d;



    background: white;



    /*z-index: 20*/



  }











.index-header >.navbar-inverse .navbar-nav> li :hover  {







   background: #f7f9fa;







}







.navbar-toggle {



  background: white !important;



  border: 1px solid #eee !important;



  color: #3d464d !important;



}











.navbar-toggle > .icon-bar {



  background: white !important;



  border: 1px solid #eee !important;



  color: #3d464d !important;



}







.navbar-toggle:hover {



   background: #f7f9fa !important;



}







.btn {







  padding-top: 5px;



  padding-bottom: 5px;



  font-size: 14px; 



}











/*welcome.php*/







.banner img {



   



 width: 100%;



 height: 440px !important;



}











/*login.php*/







.banner {



    height: 60%;



    margin-top: 15px;



}



.pri-btn {











}







.padding-top-0 {







  padding-top: 0 !important;



}







.padding-top-8-p {







  padding-top: 8px;



}















.index-wrapperv {







  margin: 0 !important;



}







.margin-top-10 {



  margin-top: 10px;



}







.margin-top-20 {



  margin-top: 20px;



}







.margin-top-30 {



  margin-top: 30px;



}







.margin-bottom-10 {



  margin-bottom: 10px;



}











.margin-top-140 {



  margin-top: 140px;



}



input[type="submit"] {



  width: 100%;



  text-align: center;



}







.bottom-font {







    color: font-size: 12px;



    line-height: 14px;



    margin-top: 12px;



    text-align: center;



    color: #003569;







}











.col-md-center {



  text-align: center;



}







@media (max-width: 991px) {



    .index-header >.navbar-inverse .navbar-nav> li >a  {







    border-bottom: 1px solid #eee;

    border-left: 0px;

    border-right: 0px;

    border-top: 0px;

    outline: none;



    padding: 13px 16px;


    border-radius: 3px;



    font-size: 14px;



    /*margin-right: 5px;*/



    color: #3d464d;



    background: white;



    margin-right: 0px;



    z-index: 20



  }







  .index-header >.navbar-inverse .navbar-nav> li  {

	   border-bottom: 1px solid #eee;

  }







.index-header >.navbar-inverse .navbar-nav> li :hover  {







   background: #f7f9fa;







  }



  .header_right > .notification {



    display:none;

  }



  







 .input_wrapper{



    width: 100%;



    position: relative;



    top:30px;



  }







  .padding-top-8-p {



    padding-top: 0px;



  }



}   











.bottom-wrap {







  margin: 10px 40px 18px;



}







.width-100 {



  width: 100%;



}







.about-wrap {



    font-size: 15px;



    /* font-weight: 600; */



    text-align: left;

    margin-top: 12px;



}







.about-wrap > span {



    display: block;



    margin-bottom: 3px;



}







.about {



    border: 1px solid #f7f5f5;



    color: #1b2733;



    background: white;



    /* cursor: pointer; */



    border-radius: 4px;



}







.index_wrapper > .feature {



    position : relative;



    margin-top: 100px;



}







.navbar-nav {



    margin-top:0px;



}



.links_span {

  display: block;

}

/*heading*/

@media (max-width: 991px) {



  .links_span {

    display: none;

  }



  .header-right > .notification {

    margin-right: 10px;

  }



}



a: hover {



  text-decoration: none;

}



.w3-theme-15 {



  background-color: white !important; 

}



.m_n_ul {

  background: white !important;

}



.w3-sidebar {



  border-right: 1px solid #ddd;

  margin-top: 5px;

}



#mySidebar {

  border-right: 1px solid #ddd !important;

  margin-top: 5px !important;

}





/*  home */

@media screen and (max-width: 991px)

{

	.badshah {

	   width: 100%;

	   left: 0px;
	}

}

@media screen and (min-width: 992px)
{
	.badshah {
          width: 100%;
	  left: 274px;
	}
}